* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Barlow Condensed", sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #f3f3f3;
}

.intro-red {
  position: absolute;
  width: 100%;
  height: 50vh;
  background-color: #ff1c1c;
  z-index: 10;
  border-bottom: 40px solid black;
}

.intro-red::after {
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  border: 40px solid black;
  left: calc(50% - 115px);
  top: calc(100% - 95px);
}

.intro-red::before {
  content: "";
  position: absolute;
  left: calc(50% - 56px);
  top: calc(100% - 36px);
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid black;
  -webkit-box-shadow: 0px 6px black;
          box-shadow: 0px 6px black;
  z-index: 11;
}

.intro-white {
  position: absolute;
  top: 370.5px;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: white;
  border-top: 3px solid black;
  z-index: 9;
}

.intro-white::after {
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  height: 75px;
  background-color: #f3f3f3;
  border-radius: 0px 0px 150px 150px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-top: 3px solid #f3f3f3;
  left: calc(50% - 75px);
  top: -4px;
}

.bandContainer {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 21vh;
  overflow: hidden;
}

.bandThin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 24px;
  width: 100%;
  height: 70px;
  background-color: #ff1c1c;
  border-bottom: 2px solid black;
}

.bandThin-circle {
  display: block;
  margin: 0px 8px;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px black;
          box-shadow: 0px 2px black;
}

.bandThick {
  position: absolute;
  top: 68px;
  left: -34px;
  width: 78%;
  height: 70px;
  background-color: #ff1c1c;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}

.bandThick-circle {
  border-radius: 50%;
  display: block;
  border: 2px solid black;
}

.bandThick-circle__white {
  position: relative;
  left: 40px;
  top: -45px;
  width: 90px;
  height: 90px;
  background-color: white;
  -webkit-box-shadow: 0px 3px black;
          box-shadow: 0px 3px black;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.bandThick-circle__red {
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 38px);
  width: 76px;
  height: 76px;
  background-color: #ff1c1c;
  z-index: 2;
}

.logoPokedex {
  display: block;
  margin: 32px auto;
  width: 300px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.inputTitle {
  margin: 16px;
  width: 200px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  background: transparent;
  border: none;
}

.inputTitle:hover {
  cursor: pointer;
}

.inputElement {
  padding: 20px 8px;
  width: 100%;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.2rem;
  background-color: #e5e5e5;
  border: none;
  border-radius: 8px;
}

.inputElement::-webkit-inner-spin-button, .inputElement::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.inputCheck-container, .inputStat-container {
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
}

.inputCheck-icon, .inputStat-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.inputCheck-label, .inputStat-label {
  position: relative;
  padding: 20px 8px;
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.inputCheck-label:hover, .inputStat-label:hover {
  cursor: pointer;
}

.inputCheck-label::before, .inputStat-label::before {
  content: "";
  position: absolute;
  right: 12px;
  top: calc(50% - 10px);
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid white;
}

.inputCheck-checkbox {
  display: none;
}

.inputCheck-checkbox:checked + .inputCheck-label::before {
  background-color: white;
}

.inputStat-radio {
  display: none;
}

.inputStat-radio:checked + .inputStat-label::before {
  background-color: white;
}

.favBtn {
  position: fixed;
  right: 0;
  top: 25vh;
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #e5e5e5;
  border-radius: 8px 0 0 8px;
  font-size: 1.5rem;
  cursor: pointer;
}

.favBtn:hover {
  background-color: #ff1c1c;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.icon-acero {
  background-image: url("../assets/icons/steel.svg");
}

.icon-agua {
  background-image: url("../assets/icons/water.svg");
}

.icon-bicho {
  background-image: url("../assets/icons/bug.svg");
}

.icon-dragon {
  background-image: url("../assets/icons/dragon.svg");
}

.icon-electrico {
  background-image: url("../assets/icons/electric.svg");
}

.icon-fantasma {
  background-image: url("../assets/icons/ghost.svg");
}

.icon-fuego {
  background-image: url("../assets/icons/fire.svg");
}

.icon-hada {
  background-image: url("../assets/icons/fairy.svg");
}

.icon-hielo {
  background-image: url("../assets/icons/ice.svg");
}

.icon-lucha {
  background-image: url("../assets/icons/fighting.svg");
}

.icon-normal {
  background-image: url("../assets/icons/normal.svg");
}

.icon-planta {
  background-image: url("../assets/icons/grass.svg");
}

.icon-psiquico {
  background-image: url("../assets/icons/psychic.svg");
}

.icon-roca {
  background-image: url("../assets/icons/rock.svg");
}

.icon-siniestro {
  background-image: url("../assets/icons/dark.svg");
}

.icon-tierra {
  background-image: url("../assets/icons/ground.svg");
}

.icon-veneno {
  background-image: url("../assets/icons/poison.svg");
}

.icon-volador {
  background-image: url("../assets/icons/flying.svg");
}

.icon-hp {
  background-image: url("../assets/icons/ps.svg");
}

.icon-atq {
  background-image: url("../assets/icons/ataque-normal.svg");
}

.icon-def {
  background-image: url("../assets/icons/defensa-normal.svg");
}

.icon-atqSp {
  background-image: url("../assets/icons/ataque-especial.svg");
}

.icon-defSp {
  background-image: url("../assets/icons/defensa-especial.svg");
}

.icon-speed {
  background-image: url("../assets/icons/velocidad.svg");
}

#typeCheckbox-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  gap: 16px;
  margin: 0 auto;
  width: 100%;
  height: 0px;
  visibility: hidden;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

#radioStat-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  gap: 16px;
  margin: 0 auto;
  width: 100%;
  height: 0px;
  visibility: hidden;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

/* .hidden {
  height: 0px;
  visibility: hidden;
  z-index: 0;
} */
#cards-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  margin: 0 auto;
  width: 80%;
}

.card {
  width: 310px;
  height: auto;
  border-radius: 12px;
}

.card-top-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 310px;
  min-width: 272px;
  max-width: 310px;
  height: 200px;
  z-index: 1;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 12px;
  padding-left: 12px;
  width: 65%;
  z-index: 1;
}

.card-title {
  color: whitesmoke;
  font-size: 3.2rem;
  font-weight: 700;
  z-index: 5;
}

.card-title::first-letter {
  text-transform: uppercase;
}

.card-txt-1, .card-txt-2 {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 400;
  color: whitesmoke;
}

.card-txt-1::first-letter, .card-txt-2::first-letter {
  text-transform: uppercase;
}

.card-img {
  position: absolute;
  right: -30px;
  bottom: -10px;
  width: 60%;
  height: 100%;
  z-index: 3;
}

.card-img .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  color: whitesmoke;
  font-size: 30px;
  z-index: 4;
  cursor: pointer;
}

.card-heart .fa-heart,
.card-heart .heart-checkbox {
  z-index: 4;
  cursor: pointer;
}

.card-typeIcon {
  position: absolute;
  left: 12px;
  bottom: 20px;
  width: 10%;
}

.card-btn {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 25px);
  margin: 0;
  padding: 8px;
  width: 50px;
  font-size: 16px;
  color: whitesmoke;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.card-stat-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (60px)[3];
      grid-template-rows: repeat(3, 60px);
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 12px;
  width: 310px;
  height: 0px;
  visibility: hidden;
  color: whitesmoke;
}

.stat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8px;
  height: 60px;
  border-top: 1px solid whitesmoke;
}

.stat-title {
  font-size: 1.3rem;
  font-weight: 400;
}

.stat-txt {
  font-size: 3rem;
  font-weight: 600;
}

.stat-acero {
  color: #93a8cd;
}

.stat-agua {
  color: #a8aff0;
}

.stat-bicho {
  color: #c9eeb4;
}

.stat-dragon {
  color: #a4b4f9;
}

.stat-electrico {
  color: #f3ffa3;
}

.stat-fantasma {
  color: #9c98cd;
}

.stat-fuego {
  color: #ffeca8;
}

.stat-hada {
  color: #ffc7e8;
}

.stat-hielo {
  color: #bbe2e8;
}

.stat-lucha {
  color: #e18989;
}

.stat-normal {
  color: #c7c9d1;
}

.stat-planta {
  color: #9bd9b7;
}

.stat-psiquico {
  color: #ffccb8;
}

.stat-roca {
  color: #eae7c8;
}

.stat-siniestro {
  color: #938599;
}

.stat-tierra {
  color: #eecf95;
}

.stat-veneno {
  color: #e8b0e4;
}

.stat-volador {
  color: #bfbff2;
}

.bg-acero {
  background-color: #4f8eaa;
}

.bg-agua {
  background-color: #508fe1;
}

.bg-bicho {
  background-color: #a4d235;
}

.bg-dragon {
  background-color: #0d6dc4;
}

.bg-electrico {
  background-color: #ffd93e;
}

.bg-fantasma {
  background-color: #5269ac;
}

.bg-fuego {
  background-color: #ff9743;
}

.bg-hada {
  background-color: #ff93f6;
}

.bg-hielo {
  background-color: #70cebb;
}

.bg-lucha {
  background-color: #cc3a6a;
}

.bg-normal {
  background-color: #8f98a2;
}

.bg-planta {
  background-color: #52be5e;
}

.bg-psiquico {
  background-color: #ff7179;
}

.bg-roca {
  background-color: #d2b48a;
}

.bg-siniestro {
  background-color: #5b5565;
}

.bg-tierra {
  background-color: #e1703d;
}

.bg-veneno {
  background-color: #b262d0;
}

.bg-volador {
  background-color: #89a9e8;
}

.bg-hp {
  background-color: #00bb58;
}

.bg-physical {
  background-color: #ffc629;
}

.bg-special {
  background-color: #1f8ae4;
}

.bg-speed {
  background-color: #00dae3;
}

.heart-checkbox {
  position: absolute;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */