* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

button {
  margin: 8px;
  width: 200px;
  z-index: 1;
}

button:hover {
  cursor: pointer;
}

label,
input {
  display: block;
}

#typeCheckbox-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  gap: 4px;
  margin: 0 auto;
  width: 95%;
  max-width: 670px;
}

.checkbox {
  width: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.checkbox label {
  width: 80px;
}

.checkbox input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#radioStat-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  margin: 0 auto;
  width: 90%;
  max-width: 670px;
}

.statInput {
  width: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.statInput label {
  width: 80px;
}

.statInput input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hidden {
  height: 0px;
  visibility: hidden;
  z-index: 0;
}

#cards-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  padding-top: 12px;
}

.card {
  width: 310px;
  height: auto;
  border-radius: 30px;
  overflow: hidden;
}

.card-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 310px;
  min-width: 272px;
  max-width: 310px;
  height: 200px;
  z-index: 1;
}

.card-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  color: whitesmoke;
  font-size: 22px;
  cursor: pointer;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  width: 40%;
  z-index: 3;
}

.card-title {
  margin-bottom: 4px;
  color: whitesmoke;
  font-weight: 400;
  z-index: 5;
}

.card-txt-1, .card-txt-2 {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px;
  color: whitesmoke;
  text-align: center;
  background-color: rgba(254, 254, 254, 0.2);
  border-radius: 13px;
  z-index: 3;
}

.card-img {
  width: 60%;
  height: 100%;
  z-index: 2;
}

.card-img .img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 3;
}

.card-pkball {
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 50%;
  opacity: 0.2;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 1;
}

.card-btn {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 25px);
  margin: 0;
  padding: 8px;
  width: 50px;
  font-size: 16px;
  color: whitesmoke;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.card-stat-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (50px)[3];
      grid-template-rows: repeat(3, 50px);
  place-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 310px;
  text-align: center;
  grid-gap: 8px;
  height: 0px;
  visibility: hidden;
  color: whitesmoke;
}

.bg-fuego {
  background-color: #fb6d6c;
}

.bg-planta {
  background-color: #4dcdac;
}

.bg-agua {
  background-color: #5ba8f0;
}

.bg-electrico {
  background-color: #fdd96b;
}

.bg-lucha {
  background-color: #b17368;
}

.bg-psiquico {
  background-color: #784c8b;
}

.bg-notColor {
  background-color: black;
}

.heart-checkbox {
  position: absolute;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */