////////////////////////////////////////////////
// COLORES BASE
////////////////////////////////////////////////
$rojoPrimario: #ff1c1c;
$appBg: #f3f3f3;
$inputBg: #e5e5e5;
$rangeBg: #e9e9e9;

////////////////////////////////////////////////
// COLORES - TIPO
////////////////////////////////////////////////
$acero: #4f8eaa;
$aceroLight: hsl(218, 37%, 69%);
$agua: #508fe1;
$aguaLight: hsl(234, 71%, 80%);
$bicho: #a4d235;
$bichoLight: hsl(98, 64%, 82%);
$dragon: #0d6dc4;
$dragonLight: hsl(229, 88%, 81%);
$electrico: #ffd93e;
$electricoLight: hsl(68, 100%, 82%);
$fantasma: #5269ac;
$fantasmaLight: hsl(245, 35%, 70%);
$fuego: #ff9743;
$fuegoLight: hsl(47, 100%, 83%);
$hada: #ff93f6;
$hadaLight: hsl(325, 100%, 89%);
$hielo: #70cebb;
$hieloLight: hsl(188, 49%, 82%);
$lucha: #cc3a6a;
$luchaLight: hsl(360, 59%, 71%);
$normal: #8f98a2;
$normalLight: hsl(232, 9%, 80%);
$planta: #52be5e;
$plantaLight: hsl(147, 45%, 73%);
$psiquico: #ff7179;
$psiquicoLight: hsl(377, 100%, 86%);
$roca: #d2b48a;
$rocaLight: hsl(55, 44%, 85%);
$siniestro: #5b5565;
$siniestroLight: hsl(283, 9%, 56%);
$tierra: #e1703d;
$tierraLight: hsl(39, 73%, 76%);
$veneno: #b262d0;
$venenoLight: hsl(304, 54%, 80%);
$volador: #89a9e8;
$voladorLight: hsl(240, 67%, 85%);

////////////////////////////////////////////////
// COLORES - STATS
////////////////////////////////////////////////

$hp: #00bb58;
$fisico: #ffc629;
$especial: #1f8ae4;
$velocidad: #00dae3;

////////////////////////////////////////////////
// ESTILOS GLOBALES
////////////////////////////////////////////////
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Barlow Condensed", sans-serif; //400 500 600 700
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: $appBg;
}

////////////////////////////////////////////////
// INTRO
////////////////////////////////////////////////

.intro {
  &-red {
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: $rojoPrimario;
    z-index: 10;
    border-bottom: 40px solid black;
    //display: none; //comentar para funcionamiento
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 150px;
      height: 150px;
      background-color: white;
      border-radius: 50%;
      border: 40px solid black;
      left: calc(50% - 115px);
      top: calc(100% - 95px);
    }
    &::before {
      content: "";
      position: absolute;
      left: calc(50% - 56px);
      top: calc(100% - 36px);
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 6px solid black;
      box-shadow: 0px 6px black;
      z-index: 11;
    }
  }
  &-white {
    position: absolute;
    top: 370.5px;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: white;
    border-top: 3px solid black;
    z-index: 9;
    //display: none; //comentar para funcionamiento

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 150px;
      height: 75px;
      background-color: #f3f3f3;
      border-radius: 0px 0px 150px 150px;
      border-bottom: 3px solid black;
      border-right: 3px solid black;
      border-left: 3px solid black;
      border-top: 3px solid #f3f3f3;
      left: calc(50% - 75px);
      top: -4px;
    }
  }
}
////////////////////////////////////////////////
// HEADER
////////////////////////////////////////////////

.band {
  &Container {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 21vh;
    overflow: hidden;
  }
  &Thin {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 24px;
    width: 100%;
    height: 70px;
    background-color: $rojoPrimario;
    border-bottom: 2px solid black;
    &-circle {
      display: block;
      margin: 0px 8px;
      width: 20px;
      height: 20px;
      border: 2px solid black;
      border-radius: 50%;
      box-shadow: 0px 2px black;
    }
  }
  &Thick {
    position: absolute;
    top: 68px;
    left: -34px;
    width: 78%;
    height: 70px;
    background-color: $rojoPrimario;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: skew(-45deg);
    &-circle {
      border-radius: 50%;
      display: block;
      border: 2px solid black;
      &__white {
        position: relative;
        left: 40px;
        top: -45px;
        width: 90px;
        height: 90px;
        background-color: white;
        box-shadow: 0px 3px black;
        transform: skew(45deg);
      }
      &__red {
        position: absolute;
        top: calc(50% - 38px);
        left: calc(50% - 38px);
        width: 76px;
        height: 76px;
        background-color: $rojoPrimario;
        z-index: 2;
      }
    }
  }
}

.logoPokedex {
  display: block;
  margin: 32px auto;

  width: 300px;
}

////////////////////////////////////////////////
// FORM
////////////////////////////////////////////////

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.input {
  &Title {
    margin: 16px;
    width: 200px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    background: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  &Element {
    padding: 20px 8px;
    width: 100%;
    //max-width: 600px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.2rem;
    background-color: $inputBg;
    border: none;
    border-radius: 8px;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }
  &Check-container,
  &Stat-container {
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 12px;
  }
  &Check-icon,
  &Stat-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &Check-label,
  &Stat-label {
    position: relative;
    padding: 20px 8px;
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      right: 12px;
      top: calc(50% - 10px);
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid white;
    }
  }
  &Check-checkbox {
    display: none;
    &:checked + .inputCheck-label::before {
      background-color: white;
    }
  }
  &Stat-radio {
    display: none;

    &:checked + .inputStat-label::before {
      background-color: white;
    }
  }
}

#rangeContainer {
  height: 0;
  visibility: hidden;
  margin: 32px 0;
}

.favBtn {
  position: fixed;
  right: 0;
  top: 25vh;
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  background-color: $inputBg;
  border-radius: 8px 0 0 8px;
  font-size: 1.5rem;
  cursor: pointer;
  &:hover {
    background-color: $rojoPrimario;
    transition: 0.2s all ease;
  }
}
.icon {
  &-acero {
    background-image: url("../assets/icons/steel.svg");
  }
  &-agua {
    background-image: url("../assets/icons/water.svg");
  }
  &-bicho {
    background-image: url("../assets/icons/bug.svg");
  }
  &-dragon {
    background-image: url("../assets/icons/dragon.svg");
  }
  &-electrico {
    background-image: url("../assets/icons/electric.svg");
  }
  &-fantasma {
    background-image: url("../assets/icons/ghost.svg");
  }
  &-fuego {
    background-image: url("../assets/icons/fire.svg");
  }
  &-hada {
    background-image: url("../assets/icons/fairy.svg");
  }
  &-hielo {
    background-image: url("../assets/icons/ice.svg");
  }
  &-lucha {
    background-image: url("../assets/icons/fighting.svg");
  }
  &-normal {
    background-image: url("../assets/icons/normal.svg");
  }
  &-planta {
    background-image: url("../assets/icons/grass.svg");
  }
  &-psiquico {
    background-image: url("../assets/icons/psychic.svg");
  }
  &-roca {
    background-image: url("../assets/icons/rock.svg");
  }
  &-siniestro {
    background-image: url("../assets/icons/dark.svg");
  }
  &-tierra {
    background-image: url("../assets/icons/ground.svg");
  }
  &-veneno {
    background-image: url("../assets/icons/poison.svg");
  }
  &-volador {
    background-image: url("../assets/icons/flying.svg");
  }
  &-hp {
    background-image: url("../assets/icons/ps.svg");
  }
  &-atq {
    background-image: url("../assets/icons/ataque-normal.svg");
  }
  &-def {
    background-image: url("../assets/icons/defensa-normal.svg");
  }
  &-atqSp {
    background-image: url("../assets/icons/ataque-especial.svg");
  }
  &-defSp {
    background-image: url("../assets/icons/defensa-especial.svg");
  }
  &-speed {
    background-image: url("../assets/icons/velocidad.svg");
  }
}

#typeCheckbox-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 16px;
  margin: 0 auto;
  width: 100%;
  height: 0px;
  visibility: hidden;
  transform: translateY(-30px);
}

#radioStat-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 16px;
  margin: 0 auto;
  width: 100%;
  height: 0px;
  visibility: hidden;
  transform: translateY(-30px);
}

////////////////////////////////////////////////
// CARDS
////////////////////////////////////////////////

#cards-parent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 auto;
  width: 80%;
}

.card {
  width: 310px;
  height: auto;
  border-radius: 12px;
  &-top-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 310px;
    min-width: 272px;
    max-width: 310px;
    height: 200px;
    z-index: 1;
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    padding-left: 12px;
    width: 65%;
    z-index: 1;
  }
  &-title {
    color: whitesmoke;
    font-size: 3.2rem;
    font-weight: 700;
    z-index: 5;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &-txt-1,
  &-txt-2 {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 400;
    color: whitesmoke;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &-img {
    position: absolute;
    right: -30px;
    bottom: -10px;
    width: 60%;
    height: 100%;
    z-index: 3;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: whitesmoke;
    font-size: 30px;
    z-index: 4;
    cursor: pointer;
    .fa-heart,
    .heart-checkbox {
      z-index: 4;
      cursor: pointer;
    }
  }
  &-typeIcon {
    position: absolute;
    left: 12px;
    bottom: 20px;
    width: 10%;
  }
  &-btn {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 25px);
    margin: 0;
    padding: 8px;
    width: 50px;
    font-size: 16px;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
  }
  &-stat-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 60px);
    align-content: center;
    padding: 0 12px;
    width: 310px;
    //height: 210px;
    height: 0px;
    visibility: hidden;
    color: whitesmoke;
  }
}

.stat {
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    height: 60px;
    border-top: 1px solid whitesmoke;
  }
  &-title {
    font-size: 1.3rem;
    font-weight: 400;
  }
  &-txt {
    font-size: 3rem;
    font-weight: 600;
    //color: $fuegoLight; //hsl(47, 100%, 83%);
  }
  &-acero {
    color: $aceroLight;
  }
  &-agua {
    color: $aguaLight;
  }
  &-bicho {
    color: $bichoLight;
  }
  &-dragon {
    color: $dragonLight;
  }
  &-electrico {
    color: $electricoLight;
  }
  &-fantasma {
    color: $fantasmaLight;
  }
  &-fuego {
    color: $fuegoLight;
  }
  &-hada {
    color: $hadaLight;
  }
  &-hielo {
    color: $hieloLight;
  }
  &-lucha {
    color: $luchaLight;
  }
  &-normal {
    color: $normalLight;
  }
  &-planta {
    color: $plantaLight;
  }
  &-psiquico {
    color: $psiquicoLight;
  }
  &-roca {
    color: $rocaLight;
  }
  &-siniestro {
    color: $siniestroLight;
  }
  &-tierra {
    color: $tierraLight;
  }
  &-veneno {
    color: $venenoLight;
  }
  &-volador {
    color: $voladorLight;
  }
}

.bg {
  &-acero {
    background-color: $acero;
  }
  &-agua {
    background-color: $agua;
  }
  &-bicho {
    background-color: $bicho;
  }
  &-dragon {
    background-color: $dragon;
  }
  &-electrico {
    background-color: $electrico;
  }
  &-fantasma {
    background-color: $fantasma;
  }
  &-fuego {
    background-color: $fuego;
  }
  &-hada {
    background-color: $hada;
  }
  &-hielo {
    background-color: $hielo;
  }
  &-lucha {
    background-color: $lucha;
  }
  &-normal {
    background-color: $normal;
  }
  &-planta {
    background-color: $planta;
  }
  &-psiquico {
    background-color: $psiquico;
  }
  &-roca {
    background-color: $roca;
  }
  &-siniestro {
    background-color: $siniestro;
  }
  &-tierra {
    background-color: $tierra;
  }
  &-veneno {
    background-color: $veneno;
  }
  &-volador {
    background-color: $volador;
  }
  &-hp {
    background-color: $hp;
  }
  &-physical {
    background-color: $fisico;
  }
  &-special {
    background-color: $especial;
  }
  &-speed {
    background-color: $velocidad;
  }
}

.heart {
  &-checkbox {
    position: absolute;
    transform: scale(2.5);
    opacity: 0;
  }
}
