////////////////////////////////////////////////
// COLORES BASE
////////////////////////////////////////////////
$rojoPrimario: #ff1c1c;
$appBg: #f3f3f3;
$inputBg: #e5e5e5;
$rangeBg: #e9e9e9;

////////////////////////////////////////////////
// COLORES - TIPO
////////////////////////////////////////////////
$acero: #4f8eaa;
$aceroLight: hsl(218, 37%, 69%);
$agua: #508fe1;
$aguaLight: hsl(234, 71%, 80%);
$bicho: #a4d235;
$bichoLight: hsl(98, 64%, 82%);
$dragon: #0d6dc4;
$dragonLight: hsl(229, 88%, 81%);
$electrico: #ffd93e;
$electricoLight: hsl(68, 100%, 82%);
$fantasma: #5269ac;
$fantasmaLight: hsl(245, 35%, 70%);
$fuego: #ff9743;
$fuegoLight: hsl(47, 100%, 83%);
$hada: #ff93f6;
$hadaLight: hsl(325, 100%, 89%);
$hielo: #70cebb;
$hieloLight: hsl(188, 49%, 82%);
$lucha: #cc3a6a;
$luchaLight: hsl(360, 59%, 71%);
$normal: #8f98a2;
$normalLight: hsl(232, 9%, 80%);
$planta: #52be5e;
$plantaLight: hsl(147, 45%, 73%);
$psiquico: #ff7179;
$psiquicoLight: hsl(377, 100%, 86%);
$roca: #d2b48a;
$rocaLight: hsl(55, 44%, 85%);
$siniestro: #5b5565;
$siniestroLight: hsl(283, 9%, 56%);
$tierra: #e1703d;
$tierraLight: hsl(39, 73%, 76%);
$veneno: #b262d0;
$venenoLight: hsl(304, 54%, 80%);
$volador: #89a9e8;
$voladorLight: hsl(240, 67%, 85%);

////////////////////////////////////////////////
// COLORES - STATS
////////////////////////////////////////////////

$hp: #00bb58;
$fisico: #ffc629;
$especial: #1f8ae4;
$velocidad: #00dae3;
